.vscode
.devcontainer
.github
.envrc
.env
.git
.github
.DS_Store
.trunk
.ipython_history

.env*

__pycache__
.mypy_cache
.venv
.pytest_cache

node_modules

*.log

# NOTE .nixpacks must be added to the docker container!
